{
  "port": 3002,
  "adminSecret": "CHANGE_ME",
  "rooms": [
    {
      "id": 1,
      "token": "vazio",
      "roomName": "🔴⚫ VEM TRANQUILO FUTSAL ⚫🔴",
      "maxPlayers": 30,
      "public": true,
      "geo": { "code": "BR" }
    },
    {
      "id": 2,
      "token": "vazio",
      "roomName": "🔴⚫ VEM TRANQUILO FUTSAL #2 ⚫🔴",
      "maxPlayers": 30,
      "public": true,
      "geo": { "code": "BR" }
    }
  ],
  "webhooks": {
    "1": {
      "denuncia": null,
      "chat": null,
      "join": null,
      "replay": null,
      "logs": null,
      "banlog": null
    },
    "2": {
      "denuncia": null,
      "chat": null,
      "join": null,
      "replay": null,
      "logs": null,
      "banlog": null
    }
  }
}
